# Terraform lock file
**/.terraform.lock.hcl
# Local .terraform directories
**/.terraform/*
**/.terraform
# .tfstate files
*.tfstate
*.tfstate.*
*__pycache__
**/deployments/*
!**/deployments/
!**/deployments/.gitkeep

#other
venv/
**/*_cache
**/*pycache
.env
venv
/test/__pycache__
/src/__pycache__
.pytest_cache
.coverage

# Ignore everything in dependencies1/python and dependencies2/python
src/layer/dependencies1/python/**
src/layer/dependencies2/python/**
# Ignore everything in dependencies1/python and dependencies2/python
src/layer/dependencies1/python/**
src/layer/dependencies2/python/**

# Then allow just the utils folder and its Python files
!src/layer/dependencies1/python/
!src/layer/dependencies1/python/utils/
!src/layer/dependencies1/python/utils/*.py