# Terraform lock file
**/.terraform.lock.hcl
# Local .terraform directories
**/.terraform/*
**/.terraform
# .tfstate files
*.tfstate
*.tfstate.*
**/deployments/*
*__pycache__

#other
venv/
**/*_cache
**/*pycache