# Terraform lock file
**/.terraform.lock.hcl
# Local .terraform directories
**/.terraform/*
**/.terraform
# .tfstate files
*.tfstate
*.tfstate.*
*__pycache__
**/deployments/*
!**/deployments/
!**/deployments/.gitkeep

#other
venv/
**/*_cache
**/*pycache